<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.macarthur.ross.tmux</string>
	<key>connections</key>
	<dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5A05B0E-4E14-444B-9806-54B5841D8FB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ross MacArthur</string>
	<key>description</key>
	<string>Run command in new tmux window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>tmux</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -ex

query=$1

if [ -n "$query" ]; then
	/usr/local/bin/tmux new-window -c ~
	/usr/local/bin/tmux send-keys "$query" C-m
else
	echo "empty command, not creating a new tmux window"
fi

/usr/bin/osascript &lt;&lt;EOF
tell application "System Events"
    key code 20 using {control down} -- control+3 is switch to Display Space 3
end tell
activate application "iTerm2"
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5A05B0E-4E14-444B-9806-54B5841D8FB8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tmux</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Run `{query}` in tmux</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D5A05B0E-4E14-444B-9806-54B5841D8FB8</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
