<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0728EF7C-FF40-4C4D-B4F9-934183D7A1BA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Open StackOverflow</string>
			<key>url</key>
			<string>https://stackoverflow.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>18AFEB6A-1AA1-4CEB-B6EF-141FCEACA080</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pypis</string>
			<key>text</key>
			<string>Search PyPI for '{query}'</string>
			<key>url</key>
			<string>https://pypi.org/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1A598F15-A101-4433-9406-6515ACF89AD9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pypi</string>
			<key>text</key>
			<string>PyPI &gt; Project &gt;</string>
			<key>url</key>
			<string>https://pypi.org/project/{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9ACDEA02-4DCF-4ACF-A1B2-98909215185D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nf</string>
			<key>text</key>
			<string>Open Netflix</string>
			<key>url</key>
			<string>https://www.netflix.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DDEF381E-9038-4469-8B44-5E2648A219F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Search StackOverflow for {query}</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
