<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>06B636AD-4845-45BC-A654-CC54A4410B1E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>GitHub &gt; rossmacarthur &gt;</string>
			<key>url</key>
			<string>https://github.com/rossmacarthur/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0728EF7C-FF40-4C4D-B4F9-934183D7A1BA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Open StackOverflow</string>
			<key>url</key>
			<string>https://stackoverflow.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>08622EE8-8650-4601-8ECE-14A9B906D39F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>g</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>18AFEB6A-1AA1-4CEB-B6EF-141FCEACA080</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pypis</string>
			<key>text</key>
			<string>Search PyPI for '{query}'</string>
			<key>url</key>
			<string>https://pypi.org/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1A598F15-A101-4433-9406-6515ACF89AD9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pypi</string>
			<key>text</key>
			<string>PyPI &gt; Project &gt;</string>
			<key>url</key>
			<string>https://pypi.org/project/{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>28D70B31-9B4F-4BF4-8AB4-C0C35CF9D9BA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gs</string>
			<key>text</key>
			<string>GitHub Support issues</string>
			<key>url</key>
			<string>https://github.com/Asimmetric/support/issues/assigned/rossmacarthur</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3C78816C-7FB0-4EC3-83E2-8233A2CC9877</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cape</string>
			<key>text</key>
			<string>Search Cape backend for '{query}'</string>
			<key>url</key>
			<string>https://backend.capenetworks.io/redirect/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>45EADA98-C7F0-49ED-9146-BB533A93D609</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dash</string>
			<key>text</key>
			<string>Cape Dashboard</string>
			<key>url</key>
			<string>https://dashboard.capenetworks.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5321EC92-3289-4076-8B80-5E4BB772699A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crates</string>
			<key>text</key>
			<string>Search Lib.rs for '{query}'</string>
			<key>url</key>
			<string>https://lib.rs/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>54CD492F-4FAF-48C2-9316-41BB9530CD4C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghs</string>
			<key>text</key>
			<string>Search GitHub for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6086897C-6228-4780-8BAC-57E947E660AF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dotfiles</string>
			<key>text</key>
			<string>GitHub Dotfiles</string>
			<key>url</key>
			<string>https://github.com/rossmacarthur/dotfiles</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>630271AB-F409-40E4-92D7-D98BE6B7209D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghe</string>
			<key>spaces</key>
			<string>/</string>
			<key>text</key>
			<string>GitHub &gt; extractions</string>
			<key>url</key>
			<string>https://github.com/extractions/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8703E66B-7FCF-401A-A2D7-DB0538059BD6</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9ACDEA02-4DCF-4ACF-A1B2-98909215185D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nf</string>
			<key>text</key>
			<string>Open Netflix</string>
			<key>url</key>
			<string>https://www.netflix.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AB091EE9-E068-480B-98AB-CE5BB15A0A0A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghcs</string>
			<key>text</key>
			<string>Search GitHub Asimmetric for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q=org%3AAsimmetric+{query}&amp;type=Code</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C55288AC-DCDA-42F6-A2A6-C68344682AF9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghc</string>
			<key>text</key>
			<string>GitHub &gt; Asimmetric &gt;</string>
			<key>url</key>
			<string>https://github.com/Asimmetric/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D8732FD6-52DE-4D52-9645-378E79CC4A1B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>backend</string>
			<key>text</key>
			<string>Open Cape backend</string>
			<key>url</key>
			<string>https://backend.capenetworks.io</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DAF1332A-EA7F-4677-8DC8-1C6E72365BE4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bigquery</string>
			<key>text</key>
			<string>Open BigQuery</string>
			<key>url</key>
			<string>https://console.cloud.google.com/bigquery</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DDEF381E-9038-4469-8B44-5E2648A219F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Search StackOverflow for {query}</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E3A118FC-AC5F-44F6-A7EA-C25B6BCF07FD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crate</string>
			<key>text</key>
			<string>Lib.rs &gt; Crate &gt;</string>
			<key>url</key>
			<string>https://lib.rs/crates/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
