<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.macarthur.ross.kb-remap</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <!-- assumes that Cargo is setup -->
        <string>source ~/.profile; kb-remap --map capslock:delete &amp;&gt;&gt;$HOME/Library/Logs/kb-remap.log</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
	<key>StandardErrorPath</key>
	<string>/Users/rm/Library/Logs/kb-remap.log</string>
	<key>StandardOutPath</key>
	<string>/Users/rm/Library/Logs/kb-remap.log</string>
</dict>
</plist>
